<template name="homeTemplate">
  <div id="homeMain">
      <div>
          <p>
              This is the homepage, you have successfully been logged in!
          </p>
      </div>
      <button id="logOut">Log Out</button>

	  <br /><br /><br />
	  <button id="testBrandInsert">test brand insert</button>
	  <button id="testBrandUpdate">test brand Update</button>
	  <button id="testBrandDelete">test brand Delete</button>
	  <button id="testBrandGet">test brand Get</button>
	  <button id="testBrandGetById">test brand GetById</button>

	  <br /><br /><br />
	  <button id="testTeamInsert">test Team insert</button>
	  <button id="testTeamUpdate">test Team Update</button>
	  <button id="testTeamDelete">test Team Delete</button>
	  <button id="testTeamGet">test Team Get</button>
	  <button id="testTeamGetById">test Team GetById</button>

	  <br /><br /><br />
	  <button id="testBrandGroupInsert">brandGroup insert</button>
	  <button id="testBrandGroupUpdate">brandGroup Update</button>
	  <button id="testBrandGroupDelete">brandGroup Delete</button>
	  <button id="testBrandGroupGet">brandGroup Get</button>
	  <button id="testBrandGroupGetById">brandGroup GetById</button>

	  <br /><br /><br />
	  <button id="testUserTeamLinkCreate">Test user team link create</button>
	  <button id="testUserTeamLinkDelete">Test user team link delete</button>
	  <br /><br />
	  <button id="testUserBrandLinkCreate">Test user brand link create</button>
	  <button id="testUserBrandLinkDelete">Test user brand link delete</button>
	  <br /><br />
	  <button id="testUserBrandGroupLinkCreate">Test user brandGroup link create</button>
	  <button id="testUserBrandGroupLinkDelete">Test user brandGroup link delete</button>

      <br /><br /><br />
      <button id="testTeamBrandLinkCreate">Test team brand link create</button>
      <button id="testTeamBrandLinkDelete">Test team brand link delete</button>



  </div>
</template>
